$primary-color:#4056A1;
$secondary-color:#a7b2dc;
$hover-color:#ffa600;
$background-color:#f4f1ec;
$border-color:#545149;
$border-style: 5px solid $border-color;
$display-font:'Bungee', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;

%font-on-primary {
  color:white;
  background-color: $primary-color;
}

%box-shadow {
  -webkit-box-shadow: 10px 10px 0px 0px $secondary-color;
  -moz-box-shadow: 10px 10px 0px 0px $secondary-color;
  box-shadow: 10px 10px 0px 0px $secondary-color;
}