@import './partials/_vars.scss';
@import './partials/_svg.scss';
@import './partials/_nav.scss';
@import './partials/_header.scss';
@import './partials/_tweet.scss';
@import './partials/_new-tweet.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

//Global Layout

body {
  color: $border-color;
  background-color: $background-color;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

main{
  width:90%;
  margin: 0 5% 0% 5%;
}

p{
  word-wrap: break-word;
}

//Media queries for layout

@media screen and (min-width:1040px){
  .content {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 5% 0 5%;
    
  }
  main {
    width:50%;
    margin:0;
  }
}