@import '_vars.scss';

article.tweet {
  //flex settings
  display: flex;
  flex-direction: column;

  //sizing settings
  padding: .5em;
  margin-bottom: 2em;

  //styling
  border:$border-style;
  animation: tweet-hover-out .5s ease 1;
  
  //hover states
  &:hover{
    -webkit-box-shadow: 10px 10px 0px 0px $secondary-color;
    -moz-box-shadow: 10px 10px 0px 0px $secondary-color;
    box-shadow: 10px 10px 0px 0px $secondary-color;
    animation: tweet-hover-in .5s ease 1;
  }
  &:hover header .handle{
    color:$secondary-color;
    display: initial;
    animation: handle-hover-in .5s ease 1;
  }

  //header styling
  header{
    display:flex;
    align-items: center;
    padding: 0em 0.5em 0em 0.5em;

    img{
      height:2.5em;
      width: auto;
      margin-right:.5em;
    }

    .handle{
      flex-grow: 2;
      text-align: right;
      font-weight: 700;
      display: none;
      animation: handle-hover-out .5s ease 1;
    }
  }

  //tweet content
  & > p {
    padding: 0em 0.5em 0em 0.5em;
  }

  //footer styling
  footer{
    display: flex;
    justify-content: space-between;
    padding: 0em 0.5em 0em 0.5em;
    border-top: $border-style;

    p{
      font-weight: 700;
      font-size: 1rem;
    }

    ul{
      display: flex;
      margin:.25em;
      padding: 0;
    }

    li{
      list-style: none;
      height:2.5rem;
      width:2rem;
    }
  }

}

//TODO: keyframes for handle fade in

@keyframes tweet-hover-in {
  0%{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100%{
    -webkit-box-shadow: 10px 10px 0px 0px $secondary-color;
    -moz-box-shadow: 10px 10px 0px 0px $secondary-color;
    box-shadow: 10px 10px 0px 0px $secondary-color;
  }
}

@keyframes tweet-hover-out {
  0% {
    -webkit-box-shadow: 10px 10px 0px 0px $secondary-color;
    -moz-box-shadow: 10px 10px 0px 0px $secondary-color;
    box-shadow: 10px 10px 0px 0px $secondary-color;
  }
  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

@keyframes handle-hover-in {
  0% {
    color:$background-color;
  }
  100% {
    color:$secondary-color;
  }
}

@keyframes handle-hover-out {
  0% {
    color:$secondary-color;
  }
  100%{
    color:$background-color;
  }
}