svg, #back-to-top {
  fill: #4056A1;
  animation: svg-hover-out 0.5s ease 1;
}

svg:hover, #back-to-top:hover {
  fill: #ffa600;
  animation: svg-hover-in 0.5s ease 1;
  cursor: pointer;
}

#back-to-top {
  width: 7rem;
  position: fixed;
  bottom: 0;
  right: 4%;
}

@keyframes svg-hover-in {
  0% {
    fill: #4056A1;
  }
  100% {
    fill: #ffa600;
  }
}
@keyframes svg-hover-out {
  0% {
    fill: #ffa600;
  }
  100% {
    fill: #4056A1;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0px;
  padding: 0 5% 1rem 5%;
  color: white;
}
nav span.logo {
  font-family: "Bungee", sans-serif;
  font-size: 2rem;
}
nav a {
  margin: 0;
  text-decoration: none;
}
nav a:hover {
  cursor: pointer;
}

@media screen and (min-width: 1040px) {
  nav {
    background-color: #4056A1;
    position: sticky;
  }
}
.content > header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 448px;
  width: 100%;
  padding-top: 3rem;
  background-color: #a7b2dc;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}
.content > header p {
  font-size: 2.25rem;
}

@media screen and (min-width: 1040px) {
  .content > header {
    width: 37vw;
    height: 37vw;
    padding-top: 0;
    border: 5px solid #545149;
  }
}
@media screen and (min-width: 1600px) {
  .content > header {
    width: 25vw;
    height: 25vw;
    max-width: 615px;
    max-height: 615px;
    border: 5px solid #545149;
  }
}
article.tweet {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin-bottom: 2em;
  border: 5px solid #545149;
  animation: tweet-hover-out 0.5s ease 1;
}
article.tweet:hover {
  -webkit-box-shadow: 10px 10px 0px 0px #a7b2dc;
  -moz-box-shadow: 10px 10px 0px 0px #a7b2dc;
  box-shadow: 10px 10px 0px 0px #a7b2dc;
  animation: tweet-hover-in 0.5s ease 1;
}
article.tweet:hover header .handle {
  color: #a7b2dc;
  display: initial;
  animation: handle-hover-in 0.5s ease 1;
}
article.tweet header {
  display: flex;
  align-items: center;
  padding: 0em 0.5em 0em 0.5em;
}
article.tweet header img {
  height: 2.5em;
  width: auto;
  margin-right: 0.5em;
}
article.tweet header .handle {
  flex-grow: 2;
  text-align: right;
  font-weight: 700;
  display: none;
  animation: handle-hover-out 0.5s ease 1;
}
article.tweet > p {
  padding: 0em 0.5em 0em 0.5em;
}
article.tweet footer {
  display: flex;
  justify-content: space-between;
  padding: 0em 0.5em 0em 0.5em;
  border-top: 5px solid #545149;
}
article.tweet footer p {
  font-weight: 700;
  font-size: 1rem;
}
article.tweet footer ul {
  display: flex;
  margin: 0.25em;
  padding: 0;
}
article.tweet footer li {
  list-style: none;
  height: 2.5rem;
  width: 2rem;
}

@keyframes tweet-hover-in {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 10px 10px 0px 0px #a7b2dc;
    -moz-box-shadow: 10px 10px 0px 0px #a7b2dc;
    box-shadow: 10px 10px 0px 0px #a7b2dc;
  }
}
@keyframes tweet-hover-out {
  0% {
    -webkit-box-shadow: 10px 10px 0px 0px #a7b2dc;
    -moz-box-shadow: 10px 10px 0px 0px #a7b2dc;
    box-shadow: 10px 10px 0px 0px #a7b2dc;
  }
  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@keyframes handle-hover-in {
  0% {
    color: #f4f1ec;
  }
  100% {
    color: #a7b2dc;
  }
}
@keyframes handle-hover-out {
  0% {
    color: #a7b2dc;
  }
  100% {
    color: #f4f1ec;
  }
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
form label {
  font-weight: 700;
}
form textarea {
  border: 0px;
  background-color: inherit;
  border-bottom: 5px solid #545149;
  resize: none;
  max-height: auto;
  padding: 0px;
}
form textarea:focus {
  outline: none;
}
form div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-family: "Bungee", sans-serif;
}
form button {
  border: none;
  padding: 0.25em;
  color: white;
  background-color: #4056A1;
  animation: button-hover-out 0.5s ease 1;
}
form button:hover {
  background-color: #ffa600;
  animation: button-hover-in 0.5s ease 1;
}

.invalid-length {
  color: crimson;
}

.error {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  color: crimson;
}

@keyframes button-hover-in {
  0% {
    background-color: #4056A1;
  }
  100% {
    background-color: #ffa600;
  }
}
@keyframes button-hover-out {
  0% {
    background-color: #ffa600;
  }
  100% {
    background-color: #4056A1;
  }
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

main {
  width: 90%;
  margin: 0 5% 0% 5%;
}

p {
  word-wrap: break-word;
}

@media screen and (min-width: 1040px) {
  .content {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 5% 0 5%;
  }

  main {
    width: 50%;
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
