nav{
  /* background-color:#4056A1; */
  display: flex;
  justify-content: space-between;
  color: white;
  height: 5rem; 
  width:100%;
  position: fixed;
  top:0px;
  /* consider changing height later to em*/
  align-items: flex-end;
  /* padding: 1.5em; */
  padding: 0 5% 1rem 5%;
}

nav span.logo{
  font-family: 'Bungee', sans-serif;
  font-size: 2rem;
}
nav a{
  margin:0;
  text-decoration: none;
}
nav a:hover{
  cursor: pointer;
}

@media screen and (min-width:1040px){
  nav {
    background-color:#4056A1;
    position: sticky;
  }
}