form{
  display:flex;
  flex-direction: column;

}
form label{
  font-weight: 700;
}
form textarea{
  border: 0px;
  background-color: inherit;
  border-bottom: 5px solid #545149;
  resize:none;
  /* height:2rem; */
  max-height:auto;
  padding: 0px;
}

form textarea:focus{
  /* border:0px;
  border-bottom: 5px solid #545149; */
  outline: none;
}

form div{
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top:1rem;
}

form div button{
  background-color: #4056A1;
  border: none;
  padding: 0.25em;
  color:white;
}

.invalid-length{
  color:crimson;
}