article.tweet, article.tweet header, article.tweet footer, article.tweet footer ul{
  display: flex;
}

/* TWEET CONTAINER */
article.tweet{
  flex-direction: column;
  border:5px solid #545149;
  padding: 0.5em;
  margin-bottom: 2em;
}

/*TWEET CONTAINER HOVER*/
article.tweet:hover{
  -webkit-box-shadow: 10px 10px 0px 0px #c1ccf3;
  -moz-box-shadow: 10px 10px 0px 0px #c1ccf3;
  box-shadow: 10px 10px 0px 0px #c1ccf3;
}

article.tweet:hover header .handle{
  color:#c1ccf3;
  display: initial;
}

/* TWEET HEADER */
article.tweet header{
  align-items: center;
  padding: 0em 0.5em 0em 0.5em;
}

article.tweet header img{
  height:2.5em;
  width: auto;
  margin-right:.5em;
}

article.tweet header .handle{
  flex-grow: 2;
  text-align: right;
  font-weight: 700;
  display: none;
}

/* TWEET FOOTER & ICONS */
article.tweet footer{
  border-top: 5px solid #545149;
  justify-content: space-between;
  padding: 0em 0.5em 0em 0.5em;
}

article.tweet footer ul{
  margin:.25em;
  padding: 0;
}

article.tweet footer li{
  list-style: none;
  height:2.5rem;
}

article.tweet footer p{
  font-weight: 700;
  font-size: 1rem;
}

article.tweet svg{
  fill:#4056A1;
  width:2rem;
}
article.tweet svg:hover{
  fill:#ffa600;  
}

article.tweet > p {
  padding: 0em 0.5em 0em 0.5em;
}